@import url(./mainStyles.css);
@import url(./adminHeader.css);
@import url(./mainFooter.css);

/* PRODUCT FINDER */
.finder__content {
    display: flex;
    align-items: center;
    gap: var(--spacing-12);
    padding: var(--spacing-36) 0;
}

.finder__cover img {
    width: 42px;
}

.finder__input {
    width: 530px;
    height: 40px;
    border: 2px solid var(--dark-bg-solid);
    border-radius: 6px;
    padding-left: var(--spacing-12);
    font-size: var(--font-medium);
}

.finder__input::placeholder {
    font-size: var(--font-xsmall);
    font-weight: 500;
    color: #B9B9B9;
}

/* LIST */
.listTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listTitle__title {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 700;
}

.listTitle__text {
    display: flex;
    align-items: center;
    gap: var(--spacing-36);
    font-size: var(--font-large);
    font-weight: 700;
    padding-right: 10rem;
}

.listTitle__button {
    width: 39px;
    border: 0px;
    border-radius: 6px;
    background-color: var(--primary-solid);
    cursor: pointer;

    &>img {
        filter: invert(1);
    }
}

/* TABLE */
table {
    padding: var(--spacing-24);
}

th {
    font-size: var(--font-large);
    font-weight: 700;
    text-align: left;
    padding: var(--spacing-8) 0;

    &:first-child {
        text-align: center;
    }
}

td:nth-child(6){
    display: flex;
    justify-content: flex-end;
    padding-left: var(--spacing-12);
}

td {
    font-size: var(--font-large);
    font-weight: 500;
    padding: var(--spacing-8) 0;
    
    &:nth-child(1) {
        text-align: center;
        padding: 0 var(--spacing-12);
    }

    &>button {
        background-color: transparent;
        border: none;
        width: 34px;
        cursor: pointer;
    }
}

/* RESPONSIVE */
@media screen and (min-width: 1024px) {
    /* TABLE */
    table {
        width: 1126px;
    }
}

@media screen and (max-width: 1200px) {
    /* LIST */
    .listTitle__text{
        padding-right: 3rem;
    }

    /* TABLE */
    table {
        max-width: 100vw;
    }
}

@media screen and (max-width: 769px) {
    /* PRODUCT FINDER */
    .finder__content {
        margin-left: var(--spacing-24);
    }

    .finder__input {
        width: 300px;
        height: 30px;
        font-size: var(--font-small);
    }

    /* LIST */
    .list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .listTitle {
        gap: 150px;
    }

    .listTitle__title {
        font-size: var(--font-large);
    }

    .listTitle__text {
        font-size: var(--font-medium);
        padding-right: 4rem;
        gap: var(--spacing-24);
    }

    .listTitle__button {
        width: 34px;
    }

    /* TABLE */
    th, td {
        font-size: var(--font-small);
    }
}

@media screen and (max-width: 426px) {
    /* PRODUCT FINDER */
    .finder__content{
        justify-content: center;
        margin: 0;
    }

    .finder__cover>img {
        width: 34px;
    }

    .finder__input::placeholder {
        font-size: var(--font-xsmall);
    }

    /* LIST */
    .listTitle {
        padding: 0 2rem;
        gap: 48px;
    }

    .listTitle__title {
        font-size: var(--font-medium);
        
    }

    .listTitle__text {
        font-size: var(--font-xsmall);
        gap: var(--spacing-24);
        padding-right: 0rem;
    }

    .listTitle__button {
        width: 34px;
    }

    /* TABLE */
    table {
        padding: var(--spacing-24) 0;
    }

    th, td {
        font-size: var(--font-xsmall);
        padding-right: 1rem;
    }

    .listTitle__button {
        width: 25px;
    }

    td>button {
        width: 25px;
    }

    .footer {
        padding: var(--spacing-28);
    }

    .footer__copy {
        font-size: var(--font-xsmall);
    }
}

@media screen and (max-width: 376px) {
    /* EDIT & DELETE ICONS MENU */
    td:nth-child(4),
    td:nth-child(5),
    td:nth-child(6){
        padding: var(--spacing-8) 0;
    }
}

@media screen and (max-width: 321px) {
    /* PRODUCT FINDER */
    .finder {
        margin: 0 var(--spacing-8);
    }

    .finder__input {
        font-size: var(--font-xsmall);
    }

    /* LIST */
    .listTitle__title {
        font-size: var(--font-xsmall);
    }

    .listTitle__text {
        gap: var(--spacing-12);
    }

    /* TABLE */
    th {
        font-size: 1.2rem;
    }

    td {
        font-size: 1rem;
    }
}