@import url(./mainStyles.css);
@import url(./mainHeader.css);
@import url(./mainFooter.css);

/* MAIN */
main {
    margin: var(--spacing-128) 0;
}

/* MAIN TITLE */
.main__title {
    padding: var(--spacing-68) 0;
}

.main__title-text,
.summary__title {
    font-size: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 700;
    text-decoration: underline var(--primary-900);
    text-underline-offset: var(--spacing-20);
}

/* MAIN CONTENT */
/* Subtitle */
.subtitle {
    width: 1220px;
    height: 51px;
    display: flex;
    padding: 16px 30px 16px 0;
    margin-bottom: var(--spacing-36);
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase; 
    border-radius: 10px;
    background-color: var(--light-bg-solid);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.subtitle__text1,
.subtitle__text2,
.subtitle__text3 {
    font-family: var(--base-font);
    font-weight: 700;
    font-size: var(--font-small);
    font-style: normal;
    line-height: normal;
}

/* Cart items */
.card {
    display: flex;
    width: 1220px;
    height: 195px;
    padding: 16px;
    margin-bottom: var(--spacing-36);
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    background: var(--light-bg-solid);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}


/* First & second column */
.card__img-item {
    display: flex;
    width: 410px;
    align-items: center;
    gap: 18px;
}

.card__img-img {
    width: 118.76px;
    height: 118px;
}

.card__item,
.card__item-titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card__item {
    gap: var(--spacing-20);
}

.card__item-titles {
    gap: .6rem;
}

.card__item-title {
    font-family: var(--base-font);
    font-weight: 700;
    font-size: var(--font-large);
}

.card__item-brand {
    font-family: var(--base-font);
    font-weight: 500;
    font-size: var(--font-xsmall);
    color: var(--dark-900);
}

.card__item-price {
    display: flex;
}

.card__item-price_text {
    font-family: var(--base-font);
    font-weight: 400;
    font-size: var(--font-xsmall);
    color: var(--dark-900);

    &:first-child{
        padding-right: var(--spacing-8);
    }
}

/* Third column */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] {
    appearance: button;
    -moz-appearance:textfield;
}

.card__quantity {
    display: flex;
}

.card__quantity-num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89.479px;
    height: 40px;
    font-family: var(--base-font);
    font-size: 2em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: #FFF;
    border: 0.5px solid var(--dark-500);
}

.card__quantity-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: .6rem;
}

.card__quantity-add,
.card__quantity-dlt {
    display: flex;
    width: 18px;
    height: 16px;
    padding: .4rem;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-900);
    color: var(--light-font-solid);
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.card__quantity-dlt {
    padding-bottom: 0.7rem;
    padding-left: 0.5rem;
}

/* Fourth column */
.card__price-num {
    font-family: var(--base-font);
    font-size: 2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--dark-900);
}

/* Fifth column */
.card__delete-button{
    cursor: pointer;
    border: none;
    background: none;
}

.card__delete-img{
    width: 28px;
    height: 28px;
}

/* SUMMARY */
.summary {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: var(--spacing-68) 0;
}

.summary__content {
    display: inline-flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    width: 572px;
    height: 197px;
    gap: 2rem;
    border-radius: 10px;
    background: var(--light-bg-solid);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.summary__title {
    padding-bottom: var(--spacing-36);
}

.summary__content-title {
    display: flex;
    width: 524px;
    justify-content: space-between;
    align-items: center;

    &:last-child {
        padding-top: var(--spacing-8);
        border-top: 2px solid #F33;
    }
}

.summary__content-text {
    font-size: var(--font-small);
    font-weight: 600;
    text-transform: uppercase;
}

.summary__content-num {
    font-size: var(--font-small);
    font-weight: 700;
    color: #747474;
}

.summary__content-total {
    font-size: 2em;
}

.summary__content-price {
    font-size: 2em;
}

/* Button */
.button {
    margin-top: var(--spacing-36);
}

.button__button {
    width: 572px;
    height: 68.656px;
    color: var(--light-font-solid);
    font-size: var(--font-xlarge);
    font-weight: 700;
    border: none;
    background-color: var(--primary-900);
    cursor: pointer;
}