@import url(./mainStyles.css);
@import url(./adminHeader.css);
@import url(./mainFooter.css);

/*FORMULARIO*/
.form-container{
    font-size: var(--font-small);
    color: var(--dark-solid);
    padding: var(--spacing-20);
}

.form-item{
    margin: var(--spacing-8) 0;
}

textarea{
    width: 100%;
    height: 16em;
    resize: vertical;
    margin: var(--spacing-16) 0px;
}

/* Estilo para el contenedor principal de form-bloque */
.form-bloque {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--spacing-20); /* Espacio entre bloques */
    justify-content:flex-start /* Espacio uniforme entre los elementos dentro del bloque */
}

/* Estilo para cada form-item individual dentro de form-bloque */
.form-bloque .form-item {
    width: calc(33.33% - 10px); /* Cada elemento ocupa aproximadamente un tercio del espacio, con 10px de espacio entre ellos */
    margin: var(--spacing-12) 0; /* Espacio entre elementos */
}

.segundo-bloque {
    align-items: center;
}

.bloque-imagenes>button{
    margin: 0 var(--spacing-12);
    width: 125px;
    height: 25px;
}

.bloque-imagenes>p{
    font-size: small;
}

.btn-principal{
    width: 175px;
    height: 44.334px;
    background-color: var(--primary-solid);
    color: var(--light-bg-solid);
    padding: var(--spacing-12) var(--spacing-24);
    border: none;
    margin-right: var(--spacing-16);
}

.segundo-bloque>.form-combobox{
    padding-left: 11.5rem;
}

.label__input {
    padding-right: 2rem;
}

input
{   
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    border-color: var(--primary-solid);
}

.img__container {
    padding-bottom: 2rem;
}

.img__input {
    display: none;
    width: 20%;
}


@media (max-width: 768px) {
    html {
        font-size: 50%; /* Cambia el tamaño de fuente base para dispositivos móviles */
    }

    .form-container {
        font-size: var(--font-xsmall); /* Ajusta el tamaño de fuente para dispositivos móviles */
        padding: var(--spacing-12); /* Reduce el espacio en el formulario */
    }

    /* Agrega estilos para textarea en dispositivos móviles */
    textarea {
        height: 10em; /* Ajusta la altura del textarea */
        margin: var(--spacing-12) 0;
    }

    .botones{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /* Agrega estilos para los botones en dispositivos móviles */
    .btn-principal {
        width: 60%; /* Ocupa todo el ancho disponible */
        margin-right: 0; /* Elimina el margen derecho */
    }

    /* Agrega estilos para form-bloque en dispositivos móviles */
    .form-bloque {
        flex-direction: column; /* Cambia la dirección de los elementos del form-bloque */
        margin-bottom: var(--spacing-16); /* Ajusta el espacio entre bloques */
    }

    .form-bloque .form-item {
        width: 100%; /* Ocupa todo el ancho disponible */
        margin: var(--spacing-12) 0; /* Espacio entre elementos */
    }
}
