@import url(./mainStyles.css);
@import url(./mainHeader.css);
@import url(./mainFooter.css);

@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css');

/* CARD-ITEM */
.card-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: var(--spacing-16) 0;
}

.card-item__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    align-items: start;
}

.card-item__licence {
    font-size: var(--font-small);
    font-weight: 500;
}

.card-item__name {
    font-size: var(--font-jumbo);
    font-weight: 700;
}

.card-item__description {
    font-size: var(--font-large);
    font-weight: 400;
}

.card-item__price {
    font-size: var(--font-jumbo);
    font-weight: 400;
}

.card-item__add-sub-items {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "imput add add-cart"
        "imput sub add-cart";
    align-items: start;
}

.card-item__number-items {
    padding: var(--spacing-8) 0px;
    text-align: center;
    border: 0.5px solid #C9C9C9;
    width: 106px;
    height: 35px;
    font-size: var(--font-large);
    grid-area: imput;
    margin: 0px var(--spacing-8) 0px 0px;
}

::placeholder {
    color: #747474;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
}

.card-item-add {
    background: #4F4F4F;
    border: 0px;
    display: flex;
    padding: 4px;
    grid-area: add;
    
}

.card-item-subtract {
    background: #4F4F4F;
    border: 0px;
    display: flex;
    padding: 6px 5px;
    grid-area: sub;
    align-self: start;
}

.card-item__add-cart {
    border: 0px;
    font-size: var(--font-medium);
    color: var(--light-font-solid);
    background-color: var(--primary-solid);
    padding: var(--spacing-8) var(--spacing-16);
    font-family: var(--base-font);
    grid-area: add-cart;
    margin: 0px 0px 0px var(--spacing-28);
}

.card-item__method-pay {
    color: var(--secondary-solid);
    font-family: var(--base-font);
    font-size: var(--font-xsmall);
    font-weight: 700;
}

.card-item__link-method{
    text-decoration-line: underline;
}

/* SLIDER */
.slider {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;
}

.slider__title {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    text-transform: uppercase;
}
.slider__icon {
    color: var(--dark-solid);
    font-size: var(--font-small);
    font-weight: 700;
}

.glide__arrow--left {
    left: 0;
}

.glide__arrow--right {
    right: 0;
}


.card-item-slider__cover {
    display: flex;
    position: relative;

    &:hover .card-item-slider__img--back {
        display: block;
    }

    &:hover .card-item-slider__img--front {
        display: none;
    }
}

.card-item-slider__tag {
    font-size: var(--font-xsmall);
    text-transform: uppercase;
    font-weight: 500;
    color: var(--light-font-solid);
    background-color: var(--primary-solid);
    padding: var(--spacing-8) var(--spacing-24);
    position: absolute;
    right: 0;
}

.card-item-slider__img--back{
    display: none;
}

.card-item-slider__cover img {
    animation: fade .7s;
}

.card-item-slider__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
}

.card-item-slider__licence {
    font-size: var(--font-xsmall);
    font-weight: 500;
}

.card-item-slider__name {
    font-size: var(--font-medium);
    font-weight: 700;
}

.card-item-slider__price {
    font-size: var(--font-small);
    font-weight: 400;
}

.card-item-slider__promo {
    font-size: var(--font-xsmall);
    font-weight: 700;
    color: var(--secondary-solid);
}

/* ANIMATIONS */
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* MEDIA QUERY */
@media screen and (max-width: 768px) {
    .slider {
        padding: 0 var(--spacing-16);
    }

    .glide__arrow {
        padding: var(--spacing-12) 0;
    }
}
/* CARD-ITEM */
@media screen and (max-width: 549px){
    .card-item__add-cart{
        font-size: var(--font-xsmall);
    }

    .card-item__add-cart {
        margin: 0px 0px 0px 1rem;
    }
}

@media screen and (max-width: 426px){
    .slider__title {
        font-size: var(--font-large);
    }

    .card-item-slider__tag {
        font-size: 1em;
        padding: var(--spacing-8) var(--spacing-8);
    }

    .slider__items {
        gap: 0;
    }

    .glide__arrow {
        padding: var(--spacing-8) 0;
    }

    .card-item__tag {
        padding: .5rem;
        border-radius: 4px;
    }
    .card-item__licence {
        font-size: var(--font-xsmall);
    }
    .card-item__name {
        font-size: var(--font-xlarge);
    }
    .card-item__description {
        font-size: var(--font-medium);
    }
    .card-item__price {
        font-size: var(--font-xlarge);
    }
}

@media screen and (max-width: 376px) {
    .glide__arrow {
        padding: .5rem 0;
    }
}

@media screen and (max-width: 321px) {
    
}