/* HEADER */
header {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    max-width: 300px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.navbar__link {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;

    &:hover {
        background-color: var(--primary-900);
    }
}

iconify-icon {
    color: var(--light-font-solid);
    font-size: var(--font-small);
    font-weight: 700;
}

.with-icon {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.with-submenu:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    width: 300px;
    position: absolute;
    background-color: var(--dark-bg-solid);
    z-index: 3;
}

.submenu__link {
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
    transition: background .3s ease-in-out;

    &:hover{
        background-color: var(--primary-900);
    }
}

/* RESPONSIVE */

@media screen and (min-width: 1024px) {
    /* Burger Menu */
    .navbar__toggle {
        display: flex;
        position: absolute;
    }
}

@media screen and (max-width: 768px) {
    /* Burger Menu */
    .navbar__menu {
        position: absolute;
        padding: var(--spacing-24);
        top: 126px;
        left: 0;
        background-color: var(--dark-bg-solid);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 50%;
        transform: translateX(-100%);
        transition: 0.3s ease all;
        z-index: 3;
    }

    .navbar__item:last-child{
        padding: var(--spacing-8) var(--spacing-16);
    }

    .show-menu {
        transform: translateX(0);
    }

    .navbar__toggle {
        display: flex !important;
        flex-direction: column;
        margin: 15px;
    }

    .navbar__toggle span {
        width: 30px;
        height: 4px;
        background-color: white;
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }

    .navbar__toggle.open span {
        transform: rotate(45deg) translate(0px, 0px);
    }

    .navbar__toggle.open span:nth-child(2) {
        display: none;
    }

    .navbar__toggle.open span:nth-child(3) {
        transform: rotate(-45deg) translate(-5px, 1px);
    }
}

@media screen and (max-width: 426px) {
    header,
    .footer{
        padding: var(--spacing-36) var(--spacing-16);
    }

    .navbar__menu {
        top: 120px;
    }

    .navbar__link {
        font-size: var(--font-xsmall);
    }
}

@media screen and (max-width: 321px) {
    header {
        padding: var(--spacing-16);
    }

    .navbar__menu {
        top: 80px;
    }
}