@import url(./mainStyles.css);
@import url(./adminHeader.css);
@import url(./mainFooter.css);

/* REGISTER */
.register {
    padding: var(--spacing-36) 0;
}

.register__title {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.register__text {
    font-family: var(--alternative-font);
    font-size: var(--font-xlarge);
    font-weight: 500;
    margin: var(--spacing-36) auto;
    text-align: center;
}

.register__form {
    max-width: 500px;
    margin: auto;    
    display: grid;
    gap: var(--spacing-36);
}

.register__form-group {
    display: flex;
    justify-content: space-between;
    width: 420px;
}

.register__form-label {
    font-family: var(--base-font);
    font-size: var(--font-large);
    font-weight: 400;  
}

.register__form-input {
    font-family: var(--base-font);
    letter-spacing: 0.64px;
    border-style: none;
    outline: none;
    border-bottom: 2px solid var(--primary-solid);
}

.register__form-submit {
    display: flex;
    justify-content: space-between;
    max-width: 420px; 
    align-items: center;
}

.register__form-terminos {
    font-family: var(--base-font);
    font-size: var(--font-medium);
    font-weight: 400;
}

.register__form-button {
    width: 103px;
    height: 40px;
    font-size: var(--font-xsmall);
    font-weight: 400;
    color: var(--light-font-solid);
    background-color: var(--primary-solid);
    border-style: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.register__form-button:hover {
    background-color: var(--primary-900);
}

.register__form-link {
    color: var(--secondary-solid);
    transition: all .3s ease-in-out;
}

.register__form-link:hover {
    color: var(--secondary-900);
}