@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

:root {
    /* Palette */
    --primary-solid: #FF3333;
    --primary-900: rgba(255, 51, 51, .9);
    --primary-500: rgba(255, 51, 51, .5);
    --primary-300: rgba(255, 51, 51, .3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgba(29, 132, 181, .9);
    --secondary-500: rgba(29, 132, 181, .5);
    --secondary-300: rgba(29, 132, 181, .5);

    --dark-solid: #1F1F1F;
    --dark-900: rgba(31, 31, 31, .9);
    --dark-500: rgba(31, 31, 31, .5);
    --dark-300: rgba(31, 31, 31, .3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;

    /* Typography */
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /* Font-sizes */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /* Spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
    font-family: var(--base-font);
    color: var(--dark-solid);
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

h2{
    font-size: var(--font-medium);
    font-weight: bold;
    color: var(--dark-900);
}

header,
footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    background-color: var(--dark-bg-solid);
}

ul, ol {
    list-style-type: none;
}

p {
    font-size: 1.4em;
}
img{
    width: 100%;
    height: 100%;
}
.container{
max-width: 1200px;
margin: 0 auto;
}
/*HEADER*/

header{
    padding: var(--spacing-36);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu{
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.navbar-logo{
    max-width: 372px;
    max-height: 65.19px;
}

.navbar-link{
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .2s ease-in-out;
}

.navbar-link:hover{
    background-color: var(--primary-900);
}

/*FORMULARIO*/
.form-container{
    font-size: var(--font-small);
    color: var(--dark-solid);
    padding: var(--spacing-20);
}

.form-item{
    margin: var(--spacing-8) 0;
}

textarea{
    width: 100%;
    height: 16em;
    resize: vertical;
    margin: var(--spacing-16) 0px;
}

/* Estilo para el contenedor principal de form-bloque */
.form-bloque {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--spacing-20); /* Espacio entre bloques */
    justify-content:flex-start /* Espacio uniforme entre los elementos dentro del bloque */
}

/* Estilo para cada form-item individual dentro de form-bloque */
.form-bloque .form-item {
    width: calc(33.33% - 10px); /* Cada elemento ocupa aproximadamente un tercio del espacio, con 10px de espacio entre ellos */
    margin: var(--spacing-12) 0; /* Espacio entre elementos */
}

.segundo-bloque {
    align-items: center;
}

.bloque-imagenes>button{
    margin: 0 var(--spacing-12);
    width: 125px;
    height: 25px;
}

.bloque-imagenes>p{
    font-size: small;
}

.btn-principal{
    width: 175px;
    height: 44.334px;
    background-color: var(--primary-solid);
    color: var(--light-bg-solid);
    padding: var(--spacing-12) var(--spacing-24);
    border: none;
    margin-right: var(--spacing-16);
}

.segundo-bloque>.form-combobox{
    padding-left: 11.5rem;
}

input
{   
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    border-color: var(--primary-solid);
}

/*FOOTER*/
.footer {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-68);
}

.footer-copy {
    margin-top: var(--spacing-36);
    text-align: center;
    padding-bottom: var(--spacing-12);
}

.navbar-menu-footer{
    display: block;
    align-items: center;
    gap: var(--spacing-20);
}

.navbar-menu-footer, .footer-logo{
    margin-top: var(--spacing-12);
}

 