* {
    margin: 0;
    padding: 0;
}

:root {
    --color-links: #ffffff;
    --background-nav-footer: #30343F;
}

body{
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer";
}

ul {
    list-style: none;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

a {
    color: var(--color-links);
    text-decoration: none;
}

nav {
    background-color: var(--background-nav-footer);
}

.table {
    display: flex;
    justify-content: center;
    width: 1093.77px;
    height: 844.45px;
    top: 344.78px;
    left: 137.23px;
}
