<%- include('../partials/header1') %>
<link rel="stylesheet" href="/assets/css/cart.css">
<%- include('../partials/header2') %>
<section class="main__title container">    <!--     TITULO -->        
    <h1 class="main__title-text">CARRITO DE COMPRAS</h1>
</section>

<section class="cart-section container"> <!--     MAIN CONTENT -->

    <!-- FILA UNO -->
    <section class="subtitle">
        <div class="subtitle__empty"></div>
        <h3 class="subtitle__text1">Detalle de producto</h3>
        <h3 class="subtitle__text2">Cantidad</h3>
        <h3 class="subtitle__text3">Total</h3>
        <div class="subtitle__empty"></div>
    </section>

    <!-- Intento de traer json -->
    <%- include('../helpers/cartItems', itemCart)  %>

    <!-- SUMMARY SECTION -->
    <section class="summary container">
        <div class="summary__title">
            <h2 class="summary__title-title">RESUMEN</h2>
        </div> 
        <div class="summary__content">
            <div class="summary__content-title">
                <p class="summary__content-text">Cantidad de elementos</p>
                <p class="summary__content-num"><span id="total-items"></span></p>
            </div>
            <div class="summary__content-title">
                <p class="summary__content-text">Subtotal</p>
                <p class="summary__content-num">$ <span id="total"></span></p>
            </div>
            <div class="summary__content-title">
                <p class="summary__content-text">Envio</p>
                <p class="summary__content-num">$ 0,00</p>
            </div>  
            <div class="summary__content-title">                    
                <p class="summary__content-text summary__content-total">TOTAL</p>
                <p class="summary__content-num summary__content-price">$ <span id="finalFinal"></span></p>
            </div>
        </div>
        <section class="button">
            <button class="button__button">IR A PAGAR</button>
        </section>
    </section>
</section>
</main> <!--     FIN MAIN -->
<%- include('../partials/footer') %>
<script src="/assets/js/cart.js"></script>

</body>
</html>