<%- include('../partials/header1') %>
    <link rel="stylesheet" href="/assets/css/keys.css">
<%- include('../partials/header2') %>
<main class="main container">
    <h1 class="main__title">¡Lo sentimos!</h1>
    <p class="main__text">Ésta página se encuentra en mantenimiento.</p>
</main>
<%- include('../partials/footer') %>
</body>
</html>