<footer class="footer"> <!-- Footer start -->
    <nav class="navbar container">
        <ul class="navbar__item">
            <li class="navbar__item">
                <a class="navbar__link" href="./pages/shop.html">SHOP</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="./pages/register.html">REGISTER</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="./pages/pages.html">PAGES</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="./pages/contact.html">CONTACT</a>
            </li>
        </ul>
        <picture>
            <img src="./assets/img/branding/isotype.svg" alt="Isotipo de la marca Funkoshop">
        </picture>
    </nav>
    <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy;</p>
</footer> <!-- Footer end -->

<script src="./assets/js/toggleMenu.js"></script>
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script src="./assets/js/glide.js"></script>
</body>
</html>