<footer class="footer"> <!-- Footer start -->
    <nav class="navbar container">
        <ul class="navbar__item">
            <li class="navbar__item--li">
                <a class="navbar__link" href="/shop">SHOP</a>
            </li>
            <li class="navbar__item--li">
                <a class="navbar__link" href="/auth/register">REGISTER</a>
            </li>
            <li class="navbar__item--li">
                <a class="navbar__link" href="/auth/login">LOGIN</a>
            </li>
            <li class="navbar__item--li">
                <a class="navbar__link" href="/contact">CONTACT</a>
            </li>
            <li class="navbar__item--li">
                <a class="navbar__link" href="/about">ABOUT US</a>
            </li>
            <li class="navbar__item--li">
                <a class="navbar__link" href="/faqs">FAQs</a>
            </li>
        </ul>
        <picture>
            <img src="/assets/img/branding/isotype.svg" alt="Isotipo de la marca Funkoshop">
        </picture>
    </nav>
    <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy;</p>
</footer> <!-- Footer end -->

<!-- Scripts icons -->
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script src="https://kit.fontawesome.com/891dc1301c.js" crossorigin="anonymous"></script>

<!-- Scripts Burger Menu -->
<script src="/assets/js/toggleMenu.js"></script>