<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Funkoshop</title>
    <link rel="shortcut icon" href="./assets/img/branding/isotype.svg">
    <link rel="stylesheet" href="./assets/css/index.css">
</head>
<body>
    <header>    <!-- Header start -->
        <nav class="navbar container">
            <picture class="navbar__logo">
                <a href="./index.html">
                    <img src="./assets/img/branding/logo_light_horizontal.svg" alt="Isologotipo de la Marca Funkoshop">
                </a>
            </picture>
            <ul class="navbar__menu" id="menu">
                <li class="navbar__item with-submenu">
                    <a class="navbar__link with-icon">SHOP <iconify-icon icon="tabler:chevron-down"></iconify-icon></a>
                    <ul class="submenu">
                        <li class="submenu__item">
                            <a href="./pages/shop/shop.html" class="submenu__link">Funkos</a>
                        </li>
                        <li class="submenu__item">
                            <a href="./pages/shirts/shirts.html" class="submenu__link">Remeras</a>
                        </li>
                        <li class="submenu__item">
                            <a href="" class="submenu__link">Llaveros</a>
                        </li>
                    </ul>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="./pages/contact.html">CONTACTO</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="./pages/login.html">LOGIN</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__cart" href="./pages/cart.html">
                        <img src="./assets/img/icons/cart-icon.svg" alt="Icono de carrito">
                    </a>
                </li><!--logo carrito-->
            </ul>
            <div class="navbar__toggle" id="_toggle"> <!-- Burger Menu for smartphones -->
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
    </header>
    
