<section class="card">

    <div class="card__img-item">
        <picture class="card__img">
            <img class="card__img-img" src="../assets/img/star-wars/baby-yoda-1.webp" alt="Figura coleccionable Funko de Grogu de la serie de Mandalorian">
        </picture>
        <div class="card__item">
            <div class="card__item-titles">
                <h3 class="card__item-title">BABY YODA BLUEBALL</h3>
                <p class="card__item-brand">STAR WARS</p>
            </div>
            <div class="card__item-price">
                <p class="card__item-price_text">precio: $</p>
                <p class="card__item-price_text" id="item-price">1799,99</p>
            </div>
        </div>                
    </div>
    <div class="card__quantity">
        <input class="card__quantity-num" id="quantity" type="number" value="2" readonly>
        <div class="card__quantity-btn">
            <button id="add" class="card__quantity-add" type="button">+</button>
            <button id="subtract" class="card__quantity-dlt" type="button">-</button>
        </div>
    </div>
    <div class="card__price">
        <p class="card__price-num" id="total-price">$ 3599,98</p>
    </div>
    <div class="card__delete">
        <button class="card__delete-button"><img src="../assets/img/icons/delete-icon-cart.svg" class="card__delete-img" alt="Icono del boton eliminar producto del carrito"></button>
    </div>

</section>