<%- include('../partials/header1') %>
<link rel="stylesheet" href="/assets/css/index.css">
<%- include('../partials/header2') %>
<h1 style="text-align: center; margin: 25rem 0;" >Esta es la vista de About</h1>
<%- include('../partials/footer') %>