<%- include('../partials/header1') %>
<link rel="stylesheet" href="/assets/css/index.css">
<%- include('../partials/header2') %>

<div style="display: flex; flex-direction: column; margin: 10rem 0; align-items: center;">
    <h1 >PROYECTO REALIZADO POR</h1>
    <h2 style="padding: 2rem 0 3rem">GRUPO 3 - COMISIÓN 23576</h2>
    <div style="text-align: center";">
        <p style="padding: 2rem 0;">Astor Dioguardi</p>
        <p style="padding: 2rem 0;">Elimar Tineo</p>
        <p style="padding: 2rem 0;">Cristian Ferreira</p>
        <p style="padding: 2rem 0;">Nahuel Amado</p>
        <p style="padding: 2rem 0;">Nicolás Luis</p>
    </div>
</div>
<%- include('../partials/footer') %>
</body>
</html>