<%- include('../partials/headerAdmin1') %>
<link rel="stylesheet" href="/assets/css/index.css">
<%- include('../partials/headerAdmin2') %>
<h1 style="text-align: center; margin: 25rem 0;" >Esta es la vista de FAQs</h1>
<%- include('../partials/footer') %>
</body>
</html>